absl-py
cv2
altair
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dm-tree
Flask
Flask-Cors
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
Keras-Applications
Keras-Preprocessing
keras-vggface
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
mtcnn
namex
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pillow
protobuf
pyarrow
pyasn1
pyasn1-modules
pydeck
Pygments
python-dateutil
pytz
PyYAML
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
six
smmap
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wrapt
zipp
